
.carousel-inner img {
  width: 100%;
  height: 100%;
}
.carousel-item {
  position: relative;
}
.carousel-item .caption {
  height: 60px;
  width: 200px;
  position: absolute;
  top: 60px;
  left: 110px;
}
/* .nav2{
  display: none;
} */

/* .dropdown1,.dropdown2{
  
  transition: all 0.4s ease-in-out;
height: 30px;
}

.dropdown1-closed,.dropdown2-closed{

height: 0px;
visibility: hidden;
  
} */

.dropdown2{
  position:absolute;
  right: 40px;

}
